<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95878834051-9j36h6h2mjo8ngbap35eigtgbeg8scdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95878834051-9j36h6h2mjo8ngbap35eigtgbeg8scdt</string>
	<key>API_KEY</key>
	<string>AIzaSyBqXHxVLHCw9Q7x2-L3AVEw4rDwjtSbqYw</string>
	<key>GCM_SENDER_ID</key>
	<string>95878834051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinylpay.qrterminal</string>
	<key>PROJECT_ID</key>
	<string>vinyl-pay</string>
	<key>STORAGE_BUCKET</key>
	<string>vinyl-pay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95878834051:ios:f137bfda039bd2bf7c38b6</string>
</dict>
</plist>